---
import {getAllVideos, getVideosWithTags} from "./api/VIdeoService";

export const prerender = false;

import SearchBox from "../components/SearchBox";
import VideosList from "../components/VideosList";
import type Video from "../models/Video";
import Navbar from "../components/Navbar"
import {getUserInfo} from "./api/AuthService";

const user = await getUserInfo(Astro.cookies.get("token")!.value)
// Get token from cookies
const token = Astro.cookies.get("token")?.value;
if (!token) {
    throw new Error("Authentication token is missing.");
}

// Get `Tags`, `limit` and `page` from query parameters
const limit = 6;
const pageNumber = Math.max(Number(Astro.url.searchParams.get("page")) || 1, 1); // Ensure page > 0
const tagsRaw: string = Astro.url.searchParams.get("tags") || "";
const tagsList = tagsRaw.trim().toLowerCase().split(",").filter(value => value.length > 0) || [];
// Calculate `skip` for pagination
const skip = (pageNumber - 1) * limit;

// Fetch videos and count
let videos: Video[];
let videosCount: number;
if (tagsList.length <= 0) {
    console.log(`No tags`);
    const result = await getAllVideos(skip, limit, token);
    videos = result?.videos || [];
    videosCount = result?.totalCount || 0;
} else {
    console.log(`Tags = ${tagsList}`);
    const result = await getVideosWithTags(tagsList, skip, limit, token)
    videos = result.videos || [];
    videosCount = result.totalCount || 0;
}

console.log(`Videos = ${videos.toString()}`);
---
<head>
    <title>YouTag Search</title>
    <link rel="icon" href="/youtag.png" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="min-h-screen bg-black/90 flex flex-col">
    <div class="z-50 bg-black/95">
        <Navbar user={user!} client:load/>
    </div>

    <main class="flex-1 px-2 sm:px-4 md:px-6 lg:px-8 py-4">
        <div class="max-w-7xl mx-auto space-y-4">
            <SearchBox initialTags={tagsList} client:load/>

            <!-- Videos List -->
            <VideosList
                    videos={videos}
                    totalVideos={videosCount}
                    currentPage={pageNumber}
                    videosPerPage={limit}
                    client:load
            />
        </div>
    </main>
</div>
